<div class="call-to-action" align="center" ng-hide="isHidden">
    <div class="col-lg-12 text-center" style="margin-bottom:2%">
        <span class="section-heading" style="">Add a Medicine</span>
    </div>
    <div>
        <div class="text-center" style="width:100%">
        	<form  method="post" enctype="multipart/form-data" action="/upload">
        		<input type="file" name="file">
    			<input type="submit" value="Upload">
    		</form>
            <form name="regForm" role="form" ng-init="medicine.bef_bf=false;medicine.aft_bf=false;medicine.bef_ln=false;medicine.aft_ln=false;medicine.bef_dn=false;medicine.aft_dn=false;medicine.sos=false">
                    
                    <div class="col-lg-12">
                        <div align="center" class="form-group col-lg-4 col-lg-offset-4" style="text">  
                            <input class="form-control" name="name" placeholder="Medicine" ng-model="medicine.medi_name" required>
                        </div>
                        <div class="col-lg-4" style="margin-left:-2.5%">
                            <span class="required col-lg-4 help-block text-left hidden-sm"  ng-show="regForm.name.$touched && regForm.name.$invalid">Required Field</span>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div align="center" class="form-group col-lg-4 col-lg-offset-4" style="text">       
                            <input class="form-control" name="quantity" placeholder="No. of Pills" ng-model="medicine.pill_no" required>
                        </div>
                        <div class="col-lg-4" style="margin-left:-2.5%">
                            <span class="required col-lg-4 help-block text-left hidden-sm" ng-show="regForm.quantity.$touched && regForm.quantity.$invalid">Required Field</span>
                        </div>
                    </div>
                    <label class="checkbox-inline">
				    	<input type="checkbox" value="" ng-model="medicine.bef_bf">Before Breakfast
				    </label>
				    <label class="checkbox-inline">
				      	<input type="checkbox" value="" ng-model="medicine.aft_bf">After Breakfast
				    </label>
				    <label class="checkbox-inline">
				     	<input type="checkbox" value="" ng-model="medicine.bef_ln">Before Lunch
				    </label>
				    <label class="checkbox-inline">
				     	<input type="checkbox" value="" ng-model="medicine.aft_ln">After Lunch
				    </label>
				    <label class="checkbox-inline">
				     	<input type="checkbox" value="" ng-model="medicine.bef_dn">Before Dinner
				    </label>
				    <label class="checkbox-inline">
				     	<input type="checkbox" value="" ng-model="medicine.aft_dn">After Dinner
				    </label> 
				    <p>Leaving all checkboxes unchecked will automatically send the medicine to SOS category.</p> 
                </div>

                <div class="buttons col-lg-4 col-lg-offset-4" align="center">
                    <button type="submit" class="btnn" align="center" ng-click="save()" ng-disabled="regForm.$invalid">
                    	Submit
                    </button>
                </div>
    
            </form>
        </div>
    </div>
</div>